.parallax {
  background-image: url('https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849826_960_720.jpg');
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
